<!-- ==============================
        AI FLOATING BUTTON
================================ -->

<div id="aiFab" class="ai-fab">

    🤖

</div>


<!-- ==============================
        CHAT WINDOW
================================ -->

<div id="chatWindow" class="chat-window">

    <div class="chat-header">

        <div>

            <h3>MediCore AI</h3>

            <span>Hospital Assistant</span>

        </div>

        <button id="closeChat">

            ✕

        </button>

    </div>


    <div id="chatBody" class="chat-body">

        <div class="ai-message">

            👋 Hello!

            <br><br>

            I can help you with:

            <br>

            📅 Appointments

            <br>

            🧪 Lab Reports

            <br>

            💊 Prescriptions

            <br>

            👨‍⚕️ Doctors

        </div>

    </div>


    <div class="chat-input">

        <input
            id="chatInput"
            type="text"
            placeholder="Ask MediCore AI..."
        >

        <button id="sendBtn">

            ➤

        </button>

    </div>

</div>